In [1]:
!wget https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv

--2019-04-25 00:17:27--  https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684858 (669K) [text/plain]
Saving to: ‘customer_churn.csv.15’

customer_churn.csv. 100%[===================>] 668.81K  --.-KB/s    in 0.06s

2019-04-25 00:17:27 (10.5 MB/s) - ‘customer_churn.csv.15’ saved [684858/684858]

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("customer_churn.csv")

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [0]:
valid_idx = range(len(df)-1000, len(df))

In [6]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [0]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [0]:
cat_names = ['Geography','Gender', 'HasCrCard','IsActiveMember']
cont_names = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']

In [0]:
dep_var = 'Exited'

In [0]:
from fastai.tabular import *

In [0]:
path='.'

In [0]:
procs = [FillMissing, Categorify, Normalize]

In [0]:
data = TabularDataBunch.from_df(path,df,dep_var, valid_idx=valid_idx, procs=procs, cat_names=cat_names, cont_names= cont_names)

In [0]:
learn = tabular_learner(data, layers=[200,100], emb_szs={'native-country': 10}, metrics=accuracy)

In [15]:
learn.fit_one_cycle(1, 1e-2)

In [16]:
learn.fit_one_cycle(1, 1e-3)

In [17]:
learn.predict(df.iloc[0])

(Category 0, tensor(0), tensor([0.5945, 0.4055]))