In [1]:
!wget https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv

--2019-04-24 23:34:04--  https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684858 (669K) [text/plain]
Saving to: ‘customer_churn.csv.2’

customer_churn.csv. 100%[===================>] 668.81K  --.-KB/s    in 0.06s

2019-04-24 23:34:04 (10.5 MB/s) - ‘customer_churn.csv.2’ saved [684858/684858]

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("customer_churn.csv")

In [0]:
numeric_columns = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,-0.326221,France,Female,0.293517,-1.041760,-1.225848,-0.911583,1,1,0.021886,1
1,2,15647311,Hill,-0.440036,Spain,Female,0.198164,-1.387538,0.117350,-0.911583,0,1,0.216534,0
2,3,15619304,Onio,-1.536794,France,Female,0.293517,1.032908,1.333053,2.527057,1,0,0.240687,1
3,4,15701354,Boni,0.501521,France,Female,0.007457,-1.387538,-1.225848,0.807737,0,0,-0.108918,0
4,5,15737888,Mitchell,2.063884,Spain,Female,0.388871,-1.041760,0.785728,-0.911583,1,1,-0.365276,0

In [0]:
!pip install -q tensorflow==2.0.0-alpha0

In [0]:
import tensorflow as tf
from tensorflow import keras

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train, test = train_test_split(df, test_size=0.2, random_state=1)

In [0]:
train, valid = train_test_split(train, test_size=0.2, random_state=1)

In [12]:
valid.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7857,7858,15621457,Chu,2.063884,France,Male,-1.136786,0.341352,0.323248,0.807737,0,0,0.915530,0
9924,9925,15578865,Palerma,-0.191713,Germany,Female,1.056346,-0.004426,0.504429,-0.911583,1,1,-1.619001,1
3087,3088,15715160,Khan,-2.188641,France,Male,-0.278604,-1.041760,1.427220,0.807737,1,1,0.415016,0
3513,3514,15801395,Warren,1.443077,France,Female,-0.564665,1.724464,0.939747,-0.911583,0,0,1.653950,0
2105,2106,15615096,Costa,-1.640262,France,Female,-0.755372,0.687130,-1.225848,0.807737,1,1,-0.880349,0

In [0]:
from tensorflow import feature_column

In [0]:
tf.random.set_seed(1)

In [15]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [0]:
numeric_columns = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']
categorical_columns = ['Geography',
       'Gender', 'HasCrCard',
       'IsActiveMember']

In [17]:
df[numeric_columns].head()

   CreditScore       Age    Tenure   Balance  NumOfProducts  EstimatedSalary
0    -0.326221  0.293517 -1.041760 -1.225848      -0.911583         0.021886
1    -0.440036  0.198164 -1.387538  0.117350      -0.911583         0.216534
2    -1.536794  0.293517  1.032908  1.333053       2.527057         0.240687
3     0.501521  0.007457 -1.387538 -1.225848       0.807737        -0.108918
4     2.063884  0.388871 -1.041760  0.785728      -0.911583        -0.365276

In [18]:
df[numeric_columns].head()

   CreditScore       Age    Tenure   Balance  NumOfProducts  EstimatedSalary
0    -0.326221  0.293517 -1.041760 -1.225848      -0.911583         0.021886
1    -0.440036  0.198164 -1.387538  0.117350      -0.911583         0.216534
2    -1.536794  0.293517  1.032908  1.333053       2.527057         0.240687
3     0.501521  0.007457 -1.387538 -1.225848       0.807737        -0.108918
4     2.063884  0.388871 -1.041760  0.785728      -0.911583        -0.365276

In [0]:
feature_columns = []

In [0]:
for header in numeric_columns:
  feature_columns.append(feature_column.numeric_column(header))

In [21]:
feature_columns

[NumericColumn(key='CreditScore', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Tenure', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Balance', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='NumOfProducts', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='EstimatedSalary', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [0]:
def get_one_hot_rom_categorical(colname):
  categorical = feature_column.categorical_column_with_vocabulary_list(
  colname,
  train[colname].unique().tolist())
  return feature_column.indicator_column(categorical)

In [0]:
# train["Geography"].unique().tolist()

In [24]:
get_one_hot_rom_categorical("Geography")

IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='Geography', vocabulary_list=('France', 'Spain', 'Germany'), dtype=tf.string, default_value=-1, num_oov_buckets=0))

In [0]:
for col in categorical_columns:
  feature_columns.append(get_one_hot_rom_categorical(col))

In [26]:
feature_columns

[NumericColumn(key='CreditScore', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Tenure', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='Balance', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='NumOfProducts', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='EstimatedSalary', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='Geography', vocabulary_list=('France', 'Spain', 'Germany'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='Gender', vocabulary_list=('Male', 'Female'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='HasCrCard', vocabulary_list=(1, 0), dtype=tf.int64, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='IsActiveMember', vocabulary_list=(0, 1), dtype=tf.int64, default_value=-1, num_oov_buckets=0))]

In [0]:
from tensorflow.keras import layers

In [0]:
feature_layer = layers.DenseFeatures(feature_columns)

In [29]:
feature_layer

In [0]:
model = keras.Sequential()
model.add(feature_layer)
model.add(layers.Dense(200, activation='relu'))
model.add(layers.Dense(100, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

In [0]:
model.compile(optimizer='adam',
             loss='binary_crossentropy',
             metrics=['accuracy'])

In [0]:
def df_to_tfdata(df, shuffle=True, bs=32):
  df = df.copy()
  labels = df.pop('Exited')
  ds = tf.data.Dataset.from_tensor_slices((dict(df), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(df), seed=1)
  ds = ds.batch(bs)
  return ds

In [0]:
train_ds = df_to_tfdata(train)

In [0]:
valid_ds = df_to_tfdata(valid, shuffle=False)
test_ds = df_to_tfdata(test, shuffle=False)

In [35]:
model.fit(train_ds,
         validation_data = valid_ds,
         epochs=5)

WARNING: Logging before flag parsing goes to stderr.
W0424 23:34:09.195401 139814358144896 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/feature_column/feature_column_v2.py:2758: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
W0424 23:34:09.325691 139814358144896 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/lookup_ops.py:1347: to_int64 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
W0424 23:34:09.335387 139814358144896 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/feature_column/feature_column_v2.py:4307: IndicatorColumn._variable_shape (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
W0424 23:34:09.336329 139814358144896 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/feature_column/feature_column_v2.py:4362: VocabularyListCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.

Epoch 1/5
200/200 [==============================] - 4s 21ms/step - loss: 0.4115 - accuracy: 0.8082 - val_loss: 0.3852 - val_accuracy: 0.8363
Epoch 2/5
200/200 [==============================] - 4s 19ms/step - loss: 0.3474 - accuracy: 0.8565 - val_loss: 0.3785 - val_accuracy: 0.8406
Epoch 3/5
200/200 [==============================] - 4s 19ms/step - loss: 0.3371 - accuracy: 0.8623 - val_loss: 0.3753 - val_accuracy: 0.8438
Epoch 4/5
200/200 [==============================] - 4s 19ms/step - loss: 0.3320 - accuracy: 0.8633 - val_loss: 0.3742 - val_accuracy: 0.8438
Epoch 5/5
200/200 [==============================] - 4s 19ms/step - loss: 0.3282 - accuracy: 0.8628 - val_loss: 0.3733 - val_accuracy: 0.8431

In [36]:
model.evaluate(test_ds)

63/63 [==============================] - 1s 11ms/step - loss: 0.3388 - accuracy: 0.8660

[0.3387696042893425, 0.866]

In [37]:
train.Exited.value_counts()

0    5108
1    1292
Name: Exited, dtype: int64

In [38]:
test.Exited.value_counts()

0    1585
1     415
Name: Exited, dtype: int64

In [39]:
1585 / 2000

0.7925