In [28]:
fruit='banana'

In [29]:
letter=fruit[1]

In [30]:
letter

'a'

In [31]:
letter=fruit[0]

In [32]:
letter

'b'

In [33]:
i=1

In [34]:
fruit[1]

'a'

In [35]:
fruit[i+1]

'n'

In [36]:
letter[1.5]

TypeError: string indices must be integers

In [37]:
fruit='banana'

In [38]:
len(fruit)

6

In [39]:
length=len(fruit)

In [40]:
last=fruit[length]

IndexError: string index out of range

In [41]:
last=fruit[length-1]

In [42]:
last

'a'

In [43]:
index=0

In [44]:
while index<len(fruit):
    letter=fruit[index]
    print(letter)
    index=index+1

b
a
n
a
n
a

In [54]:
index=len(fruit)-1

In [55]:
while index>-1:
    letter=fruit[index]
    print(letter)
    index=index-1

a
n
a
n
a
b

In [56]:
s='Monty Python'

In [57]:
s[0:5]

'Monty'

In [58]:
s[6:12]

'Python'

In [59]:
fruit='banana'

In [60]:
fruit[:3]

'ban'

In [61]:
fruit[3:]

'ana'

In [62]:
fruit[3:3]

''

In [63]:
greeting='Hello, world!'

In [64]:
greeting[0]='J'

TypeError: 'str' object does not support item assignment

In [65]:
new_greeting='J'+greeting[1:]

In [66]:
new_greeting

'Jello, world!'

In [70]:
def find(word,letter):
    index=0
    while index<len(word):
        if word[index]==letter:
            return index
        index=index+1
    return -1

In [72]:
find('pineapple','a')

4

In [73]:
word='banana'

In [75]:
count=0
for letter in word:
    if letter=='a':
        count=count+1
print(count)

3

In [76]:
word='banana'

In [77]:
new_word=word.upper()

In [78]:
new_word

'BANANA'

In [79]:
index=word.find('a')

In [80]:
index

1

In [81]:
word.find('na')

2

In [82]:
word.find('na',3)

4

In [83]:
name='bob'

In [84]:
name.find('b',1,2)

-1

In [85]:
'a' in 'banana'

True

In [86]:
'seed' in 'banana'

False

In [88]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)

In [89]:
in_both('apples','oranges')

a
e
s

In [100]:
if word=='banana':
    print('All right, bananas.')

All right, bananas.

In [101]:
if word < 'banana':
    print('Your word,'+ word +', comes before banana.')
    elif word > 'banana':
        print('Your word,'+ word +', comes after banana.')
        else:
            print('All right, bananas.')

SyntaxError: invalid syntax (<ipython-input-101-c84c5476ac46>, line 3)

In [113]:
def is_reverse(word1, word2):
    if len(word1) != len(word2):
        return False
    i=0
    j=len(word2)-1
    while j>0:
        if word1[i]!=word2[j]:
         return False
        i=i+1
        j=j-1
    return True

In [114]:
is_reverse('pots','stop')

True

In [119]:
fin=open('words.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'words.txt'

In [120]:
fin.readline()

NameError: name 'fin' is not defined

In [121]:
line=fin.readline()

NameError: name 'fin' is not defined

In [122]:
word=line.strip()

NameError: name 'line' is not defined

In [124]:
cheeses=['Cheddar','Edam','Gouda']

In [125]:
numbers=[42,123]

In [126]:
empty=[]

In [127]:
print(cheeses,numbers,empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

In [128]:
cheeses[0]

'Cheddar'

In [132]:
numbers=[42,123]

In [134]:
numbers[1]=5

In [135]:
numbers

[42, 5]

In [136]:
cheeses=['Cheddar','Edam','Gouda']

In [137]:
'Edam' in cheeses

True

In [138]:
'Brie' in cheeses

False

In [139]:
a=[1,2,3]

In [140]:
b=[4,5,6]

In [141]:
c=a+b

In [142]:
c

[1, 2, 3, 4, 5, 6]

In [143]:
[0]*4

[0, 0, 0, 0]

In [144]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [145]:
t=['a','b','c','d','e','f']

In [146]:
t[1:3]

['b', 'c']

In [147]:
t[:4]

['a', 'b', 'c', 'd']

In [148]:
t[3:]

['d', 'e', 'f']

In [149]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [150]:
t[1:3]=['x','y']

In [151]:
t

['a', 'x', 'y', 'd', 'e', 'f']

In [152]:
t=['a','b','c']

In [153]:
t.append('d')

In [154]:
t

['a', 'b', 'c', 'd']

In [155]:
t1=['a','b','c']

In [156]:
t2=['d','e']

In [157]:
t1.extend(t2)

In [158]:
t1

['a', 'b', 'c', 'd', 'e']

In [159]:
t=['d','c','e','b','a']

In [160]:
t.sort()

In [161]:
t

['a', 'b', 'c', 'd', 'e']

In [162]:
t=['a','b','c']

In [163]:
x=t.pop(1)

In [164]:
t

['a', 'c']

In [165]:
x

'b'

In [166]:
t=['a','b','c']

In [167]:
del t[1]

In [168]:
t

['a', 'c']

In [169]:
t=['a','b','c']

In [170]:
t.remove('b')

In [171]:
t

['a', 'c']

In [172]:
t=['a','b','c','d','e','f']

In [173]:
del t[1:5]

In [174]:
t

['a', 'f']

In [175]:
s='spam'

In [177]:
t=list(s)

In [178]:
t

['s', 'p', 'a', 'm']

In [179]:
s='pining for the fjords'

In [180]:
t=s.split()

In [181]:
t

['pining', 'for', 'the', 'fjords']

In [182]:
a='spam-spam-spam'

In [183]:
delimiter='-'

In [184]:
t=a.split(delimiter)

In [185]:
t

['spam', 'spam', 'spam']

In [186]:
t=['pining','for','the','fjords']

In [188]:
delimiter=' '

In [189]:
s=delimiter.join(t)

In [190]:
s

'pining for the fjords'

In [192]:
a='banana'

In [193]:
b='banana'

In [194]:
a is b

True

In [195]:
a=[1,2,3]

In [196]:
b=[1,2,3]

In [197]:
a is b

False

In [198]:
a=[1,2,3]

In [199]:
b=a

In [200]:
b is a

True

In [201]:
b[0]=42

In [202]:
a

[42, 2, 3]

In [203]:
def delete_head(t):
    del t[0]

In [204]:
letters=['a','b','c']

In [205]:
delete_head(letters)

In [206]:
letters

['b', 'c']

In [207]:
t1=[1,2]

In [208]:
t2=t1.append(3)

In [209]:
t1

[1, 2, 3]

In [211]:
t2

In [212]:
t3=t1+[4]

In [213]:
t3

[1, 2, 3, 4]

In [214]:
t1

[1, 2, 3]

In [219]:
def bad_delete_head(t):
    t=t[1:]

In [220]:
t4=[1,2,3]

In [221]:
bad_delete_head(t4)

In [222]:
t4

[1, 2, 3]

In [238]:
def tail(t):
    return t[1:]

In [239]:
letters=['a','b','c']

In [240]:
rest=tail(letters)

In [241]:
rest

['b', 'c']

In [242]:
eng2sp=dict()

In [243]:
eng2sp

{}

In [244]:
eng2sp['one']='uno'

In [245]:
eng2sp

{'one': 'uno'}

In [246]:
eng2sp={'one':'uno','two':'dos','three':'tres'}

In [247]:
eng2sp

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [248]:
eng2sp['two']

'dos'

In [249]:
eng2sp['four']

KeyError: 'four'

In [250]:
len(eng2sp)

3

In [251]:
'one' in eng2sp

True

In [252]:
'uno' in eng2sp

False

In [253]:
vals=eng2sp.values()

In [255]:
'uno' in vals

True

In [258]:
def histogram(s):
    d=dict()
    for c in s:
        if c not in d:
            d[c]=1
        else:
            d[c]+=1
    return d

In [259]:
h=histogram('brontosaurus')

In [260]:
h

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

In [261]:
h=histogram('a')

In [263]:
h

{'a': 1}

In [264]:
h.get('a',0)

1

In [265]:
h.get('b',0)

0

In [266]:
def print_hist(h):
    for c in h:
        print(c,h[c])

In [267]:
h=histogram('parrot')

In [268]:
print_hist(h)

p 1
a 1
r 2
o 1
t 1

In [271]:
def reverse_lookup(d,v):
    for k in d:
        if d[k]==v:
            return k
    return lookupError()

In [272]:
h=histogram('parrot')

In [273]:
key=reverse_lookup(h,2)

In [274]:
key

'r'

In [277]:
def invert_dict(d):
    inverse=dict()
    for key in d:
        val=d[key]
        if val not in inverse:
            inverse[val]=[key]
        else:
            inverse[val].append(key)
    return inverse

In [278]:
hist=histogram('parrot')

In [279]:
hist

{'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}

In [280]:
inverse=invert_dict(hist)

In [281]:
inverse

{1: ['p', 'a', 'o', 't'], 2: ['r']}

In [282]:
t=[1,2,3]

In [283]:
d=dict()

In [284]:
d[t]='oops'

TypeError: unhashable type: 'list'

In [285]:
t='a','b','c','d','e'

In [286]:
t=('a','b','c','d','e')

In [292]:
t1='a',

In [293]:
type(t1)

tuple

In [294]:
t2=('a')

In [295]:
type(t2)

str

In [296]:
t=tuple()

In [297]:
t

()

In [298]:
t=tuple('lupins')

In [299]:
t

('l', 'u', 'p', 'i', 'n', 's')

In [300]:
t=('a','b','c','d','e')

In [301]:
t[0]

'a'

In [302]:
t[1:3]

('b', 'c')

In [303]:
t[0]='A'

TypeError: 'tuple' object does not support item assignment

In [304]:
t=('A',)+t[1:]

In [305]:
t

('A', 'b', 'c', 'd', 'e')

In [306]:
(0,1,2)<(1,3,4)

True

In [307]:
(0,1,20000)<(1,3,4)

True

In [308]:
temp=a

In [309]:
a=b

In [310]:
b=temp

In [311]:
a,b=b,a

In [312]:
t=divmod(7,3)

In [313]:
t

(2, 1)

In [314]:
quot,rem=divmod(7,3)

In [315]:
quot

2

In [316]:
rem

1

In [317]:
def printall(*args):
    print(args)

In [318]:
printall(1,2.0,'3')

(1, 2.0, '3')

In [319]:
t=(7,3)

In [320]:
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [321]:
divmod(*t)

(2, 1)

In [322]:
max(1,2,3)

3

In [323]:
sum(1,2,3)

TypeError: sum expected at most 2 arguments, got 3

In [324]:
s='abc'

In [325]:
t=[0,1,2]

In [326]:
zip(s,t)

In [327]:
for pair in zip(s,t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [329]:
list(zip(s,t))

[('a', 0), ('b', 1), ('c', 2)]

In [332]:
d={'a':0,'b':1,'c':2}

In [333]:
t=d.items()

In [334]:
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [336]:
for key,value in d.items():
    print(key,value)

a 0
b 1
c 2

In [337]:
t=[('a', 0), ('b', 1), ('c', 2)]

In [338]:
d=dict(t)

In [339]:
d

{'a': 0, 'b': 1, 'c': 2}

In [340]:
d=dict(zip('abc',range(3)))

In [341]:
d

{'a': 0, 'b': 1, 'c': 2}